@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    z-index: 100;
}

h1 {
    color: white;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 3px ;

}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

input {
    color: rgba(0,0,0,.87);
    width: 100%;
    max-width: 800px;
    height: 60px;
    font-size: 20px;
    padding-left: 20px;
    outline: none;
}

nav {
    height: 120px;
}

.container {
    padding: 40px 20px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.no-click {
    cursor: not-allowed;
}

#landing {
    height: 30vh;
}

/* NAVBAR */

.nav__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.logo {
    width: 100px;
    filter: invert(1);
}

.nav__link--list {
    display: flex;
}

.nav__link {
    margin-left: 28px;
    font-size: 20px;
    font-weight: 700;
}

.nav__link--anchor {
    color: white;
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content: "";
    background-color: white;
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect:hover:after {
    width: 100%;
    left: 0;
}

.nav__link--btn {
    color: rgb(25, 55, 109);
    background-color: white;
    padding: 12px 32px;
    border-radius: 24px;
    transition: all 300ms ease;
}

.nav__link--btn:hover {
    background-color: rgb(98, 205, 255);
    color: white;
}

/* HEADER */

.header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__title {
    margin: 0 0 40px ;
}

.input__wrapper {
    width: 100%;
    max-width: 600px;
    position: relative;
    border-radius: 50px;
    overflow: hidden
}

.search__wrapper {
    position: absolute;
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    padding: 0 20px 0 8px;
    color: rgb(25, 55, 109);
    font-size: 32px;
    transition: all 300ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
}

.fa-magnifying-glass {
    transition: all 300ms ease;
}

.search__wrapper:hover .fa-magnifying-glass {
    color: rgb(98, 205, 255);
}

.landing__overlay {
    background-image: url(./assets/3988284.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 30vh;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.landing__overlay:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(25, 55, 109, 0.8);
    pointer-events: none;
}

/* CARS */

.search__container {
    text-align: center;
}

.search__title {
    color: rgb(25, 55, 109);
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    
}

.movies-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 24px;
}

.movie {
    width: calc(100%/3);
}

.movie-card {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px 10px 20px 10px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 10px;
}

.movie-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.movie-card__container {
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie__img--container {
    display: flex;
    text-align: center;
    
}
.movie__img {
    height: 300px;
    width: 100%;
    max-width: 220px;
    margin: 0 auto;
    border-radius: 10px;
}

.movie__para {
    margin-top: 8px;
    color: rgb(25, 55, 109);
}

/* MOVIES LOADING */

.movies__loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    font-size: 60px;
    color: rgb(25, 55, 109);
}


.fa-spinner {
    animation: rotate 500ms infinite linear;
}

.movies__loading--spinner{
    display: none !important;
}

.movies__loading .movies__loading--spinner {
    display: block !important;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.search__title--black {
    color: black;
    font-weight: 400;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
@media (max-width:768px) {
    .movie {
        width: calc(100%/2);
    }
    .input__wrapper {
        max-width: 500px;
    }
}

@media (max-width:480px) {
    .header__title {
        font-size: 38px;
    }
    .input__wrapper {
        max-width: 400px;
    }
    .movie {
        width: 100%;
    }
    .search__title {
        font-size: 24px;
    }

    a {
        font-size: 16px;
    }

}